/* Este estilo se aplica en el caso de que la ventana tengo las dimensiones
de una tablet en forma vertical*/
/* En forma horizontal, se aplican las medidas normales establecidas */

@media (min-width: 768px) and (max-width: 1024px) {
/* Elementos comunes de todos los html */
    body {
        background-image: url(img/nubes.jpg);
        background-size: cover;
    }

    #menu ul ul {
        display: none;
        position: absolute;
        z-index: 1;
        top: -15%;
        left: 70px;
        padding: 0;
      }

/* Apartado caracteristicas.html */
    #titulo1 h1 {
        margin-left: -100px;
        padding: 0;
    }

    #navegacion1 #menu {
        margin-top: -10px;
        margin-left: 350px;
        margin-bottom: 50px;
    }    

/* Apartado saberSigno.html */
    #titulo2 {
        margin-left: -50px;
    }
    
    #navegacion2 #imagenMenu {
        width: 20%;
    }    

    #navegacion2 #menu {
        margin-top: 50px;
        margin-left: 100px;
    }

/* Apartado tienda.html */
    #encabezado3 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #titulo3 {
        margin-right: 150px;
    }    

    #navegacion3 #menu {
        margin-top: -10px;
        margin-left: 200px;
        margin-bottom: 50px;
    }

    #terminarCompra {
        margin-right: 40px;
        margin-top: -80px;
        margin-bottom: 40px;
    }

    #terminarCompra input {
        width: 30%;
    }
}