/* Este estilo se aplica en el caso de que la ventana tengo las dimensiones
de una tablet en forma vertical*/
/* En forma horizontal, se aplican las medidas normales establecidas */

/*Notas importantes:
  - "Encabezado" está formado por "titulo" y "navegación"
  - "titulo" corresponde al h1 de cada html
  - "navegación" corresponde al nav de cada html
  - Número de "titulo" y "navegación":
    - 1 corresponde al "caracteristicas.html"
    - 2 corresponde al "saberSigno.html"
    - 3 corresponde al "tienda.html" con un elemento más: "terminarCompra", que corresponde a la cesta de la compra
*/

@media (min-width: 768px) and (max-width: 1024px) {
/* Elementos comunes de todos los html */
    body {
        background-image: url(img/nubes.jpg);
        background-size: cover;
        width: 100%;
    }

    #menu ul ul {
        display: none;
        position: absolute;
        z-index: 1;
        top: -15%;
        left: 70px;
        padding: 0;
      }

      footer {
        width: 100%;
    }

/* Apartado caracteristicas.html */
    #titulo1 h1 {
        margin-left: 80px;
        margin-bottom: 50px;
    }

    #navegacion1 #menu {
        margin-top: -10px;
        margin-left: 350px;
        margin-bottom: 50px;
    }    

/* Apartado saberSigno.html */
    #titulo2 {
        margin-left: -50px;
    }
    
    #navegacion2 #imagenMenu {
        width: 20%;
    }    

    #navegacion2 #menu {
        margin-top: 50px;
        margin-left: 100px;
    }

/* Apartado tienda.html */
    #encabezado3 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #titulo3 {
        margin-right: 150px;
    }    

    #navegacion3 #menu {
        margin-top: -10px;
        margin-left: 280px;
        margin-bottom: 50px;
    }

    #terminarCompra {
        margin-left: 200px;
        margin-right: 0px;
        margin-bottom: 40px;
    }

    #terminarCompra input {
        width: 30%;
    }

    #presentacion {
        margin-left: 100px;
    }

/* Apartado del formulario */

    #encabezado4 {
        display: flex;
        flex-direction: column;
    }

    #titulo4 {
        margin-left: -280px;
        margin-bottom: -50px;
    }
    
    #navegacion4 #menu {
        margin-left: -150px;
        margin-bottom: 50px;
    }

/* Apartado del blog */
    .contenido {
        width: 40%;
        margin-left: -70px;
    }
    
    .caja {
        width: 250%;
        height: 20vh;
        margin-left: 90px;
    }
}