@media (min-width: 768px) and (max-width: 1024px) {
    body {
        background-image: url(img/nubes.jpg);
        background-size: cover;
    }

    #titulo1 h1 {
        margin-left: -100px;
        padding: 0;
    }

    #titulo2 {
        margin-left: -50px;
    }

    #titulo3 {
        margin-right: 150px;
    }

    #encabezado3 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #navegacion1 #menu {
        margin-top: -10px;
        margin-left: 350px;
        margin-bottom: 50px;
    }

    #navegacion2 #menu {
        margin-top: 50px;
        margin-left: 100px;
    }

    #navegacion2 #imagenMenu {
        width: 20%;
    }

    #menu ul ul {
        display: none;
        position: absolute;
        z-index: 1;
        top: -15%;
        left: 70px;
        padding: 0;
      }

    #terminarCompra {
        margin-right: 40px;
        margin-top: -80px;
        margin-bottom: 40px;
    }

    #terminarCompra input {
        width: 30%;
    }


    #navegacion3 #menu {
        margin-top: -10px;
        margin-left: 200px;
        margin-bottom: 50px;
    }
}